<!DOCTYPE html>
<html>
  <head>
    <title><%= msg %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%
    for(var i = 0; i < 10; i++){
    %>
    <p><%= msg %></p>
    <% }%>
  </body>
</html>
