<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: black; color: dodgerblue">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/joke">Get joke</a>
    <br>
    <a href="/jokes">Get all jokes</a>
    <br>
    <a href="/addJoke">Add joke</a>
  </body>
</html>
